<header class="site-header">
  <div class="container header-inner">
    <a class="home-button" href="{{ .BaseURL }}/" aria-label="Главная">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
      </svg>
    </a>

    <nav class="nav" aria-label="Основная навигация">
      <a href="{{ .BaseURL }}/services/">Услуги</a>
      <a href="{{ .BaseURL }}/about/">О компании</a>
      <a href="{{ .BaseURL }}/licenses/">Документы</a>
      <a href="{{ .BaseURL }}/contacts/">Контакты</a>
    </nav>

    <div class="header-actions">
      <a class="header-phone" href="tel:+73462555897">+7 3462 55-58-97</a>
      <button class="icon-button" type="button" data-search-open aria-label="Открыть поиск">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
      <noscript><a class="search-link" href="{{ .BaseURL }}/search/">Поиск</a></noscript>
    </div>
  </div>
</header>